# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
*.pyo
*.pyd

# Virtual environments
venv/
.env/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# Pytest / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml

# Mypy / Pylint
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Docker
*.pid
*.seed
*.pid.lock

# Environments
.envrc
*.env

# System files
.DS_Store
Thumbs.db

